<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	
<%- include('./partials/header') %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> 
				<%= buzos_buzos[idSearch].marca + ' ' + buzos_buzos[idSearch].modelo %> 
			</h2> 
			<p class="product-detail-description">
				<a href="/product/productAdd">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto[idSearch].imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= producto[idSearch].descripcion %> </p>
				</article>

				<div class="col-12 col-lg-4">
				
				<section class="comments">					
					<% for (let i = 0; i < producto[idSearch].comentarios.length; i++) { %> 

						
					
				<article>
					<img src="https://via.placeholder.com/35" alt="">
					<div class="data">
						<p class="user">
						<strong> <a href="/users/profile"> 
							<%= producto[idSearch].comentarios[i].usuarioQueComento %>
						</a> </strong>

						<%= producto[idSearch].comentarios[i].comentario %>
						</p>
					</div>
				</article>

				<% } %>

					</section>

					<form class="form" action="/product" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>

					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	
<%- include('./partials/footer') %>

</body>	
</html>