<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	
<%- include('./partials/header') %>

	<!-- Novedades -->
<div class="container products-wrapper">
<div class="row">
	<div class="col-12">
		<h2 class="products-title">Resultados de búsqueda</h2>
	</div>

	<!-- Show the "ultimos" products -->
	<h2 class="col-12"> 

	<br> Acá van los resultados de búsqueda. 


	<% if(result.length === 0 ){ %>
	<h2 class="producto-no-existente"> Ingresa una marca existente para poder buscar </h2>

	<% } else { %>  

		<% for (let i = 0; i < result.length; i++) { %> 

			<div class="col-12 col-sm-6 col-lg-3"> 
				<section class="product-box">
					<a href="/product/<%= result[i].id %>">
						<figure class="product-box_image">
							<img src="<%= result[i].imagen %>" alt=" ">
						</figure>
						<article class="product-box_data">
							<h2> <%= result[i].marca + '' + result[i].modelo %> </h2>
							<h3> 
								Talles disponibles: <%= result[i].talles %>
								<h3>
								El buzo se publico el: <%= result[i].fechaDePublicacion %>

								 </h3>
							</h3>
							<p>Comentarios: <%= result[i].comentarios.length %> </p>  
																
						</article>
					</a>
				</section>
				
				</div>


			<% } %> 

	<% } %> 	
	 

	</h2>
	</div>
</div>

<%- include('./partials/footer') %>

</body>

</html>

